@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro');

* {
    margin: 0;
    padding: 0;
    color: palevioletred;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: white
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: white;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: tomato;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 10px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
    ;
}

.left .social h2 {
    margin: 10px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: wheat;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0, 3s;
}

.left .content .social a span:hover {
    background: yellowgreen;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: wheat;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0, 3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: yellowgreen;
}

.center .content .text {
    font-size: 1.0635rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px 0;
}

.right form .text {
    font-size: 1.0635rem;
    margin-bottom: 2px;
    color: tomato;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0635rem;
    background: whitesmoke;
    padding-left: 10px;
    border: 1px solid #222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: rebeccapurple;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: wheat;
    font-size: 1.0635rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: yellowgreen
}

.bottom center {
    border: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}